<!-- Banner -->
				<section id="banner">
					<h2>IRB</h2>
					<p>Institutional Review Board</p>
					<ul class="actions">
						<li><%= link_to "Sign up now!", signup_path, class: "button" %></li>
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">
				</section>

					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><%= image_tag("pic02.jpg")%></span>
								<h3>Dr. David Yarbrough</h3>
								<p>Chair</br>337-482-1015</br>irb@louisiana.edu</p>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><%= image_tag("pic03.jpg")%></span>
								<h3>Dr. Robin Broussard</h3>
								<p>Coordinator</br>337-482-1419</br>robin.broussard@louisiana.edu</p>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Sign up for beta access</h2>
					<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>