<div class="row">
<div class="col-md-8 col-md-offset-2">
<br/>
<p><strong>University</strong><strong> of Louisiana</strong><strong> at Lafayette &ndash; Institutional Review Board</strong></p>
<p>Since you are here, we shall assume that your work with people or their information is <strong>research</strong> &ndash; a <strong>systematic</strong> investigation <strong>designed</strong> to develop or contribute to <strong>generalizable</strong> knowledge. This decision document has been developed for NEW research proposals. If your research has been reviewed previously, either at UL or elsewhere, please contact the IRB chair (<a href="mailto:irb@louisiana.edu">irb@louisiana.edu</a>).<br /><br /><strong>1</strong>. &nbsp; Are living individuals/human beings or their protected records involved as participants in your study? (Protected records include all medical records, all school records, all psychological records, all legal records)</p>
<p>If <em><strong>Yes</strong></em> &ndash; <strong>Continue with number 2</strong></p>
<p>If <em><strong>No</strong></em> &ndash; You do not need to submit an application to the IRB. YOU CAN STOP HERE.<br /><br /><strong>2</strong>. &nbsp; Are you a University of Louisiana student or faculty?</p>
<p>If <em><strong>Yes</strong> </em>&ndash; <strong>Continue with number 3.</strong></p>
<p>If <em><strong>No</strong></em> - I want to collect data on or from UL Lafayette community (students, faculty and/or staff) &ndash; <strong>Continue with number 5.<br /><br />3</strong>. &nbsp; Is your research for a UL Lafayette thesis, dissertation, or capstone project?</p>
<p>&nbsp;If <em><strong>Yes</strong></em> &ndash; <strong>Please submit your approved thesis / dissertation proposal along with other required IRB documentation. Continue with number 5</strong></p>
<p>&nbsp;If <strong><em>No</em> &ndash; Continue with number 4.<br /><br />4</strong>. &nbsp; Is this research part of a course-for-credit class? (Note: this does <strong>not</strong> include a thesis, dissertation or capstone project.)</p>
<p>If <em><strong>Yes</strong></em> &ndash; <strong>The professor should complete a delegated review form and submit it to the IRB Chair</strong>.</p>
<p>If <em><strong>No</strong></em> &ndash; <strong>Continue with number 5.<br /><br />5</strong>. &nbsp; Does your research involve <strong>vulnerable</strong> populations as <strong>primary</strong> subjects:&nbsp;</p>
<ol>
<ol>
<li>minors,</li>
<li>prisoners or other institutionalized populations,</li>
<li>pregnant women, fetuses or human in vitro fertilization,</li>
<li>physically and/or mentally handicapped/disabled persons,</li>
<li>economically or educationally disadvantaged persons,</li>
</ol>
</ol>
<p>If <strong>Yes</strong> &ndash; <strong>Continue with number 7.</strong></p>
<p>If <em><strong>No</strong></em> &ndash; <strong>Continue with number 6.<br /><br />6</strong>. &nbsp; Does the research involve any of the following gathering techniques only?</p>
<ol>
<ol>
<li>Normal educational practices/ instructional strategies in established educational settings with <strong>no identifying information (Note: pictures and video recordings are identifiable)</strong> recorded for research purposes.</li>
<li>Educational tests, surveys, interviews or observations of public behavior with <strong>no identifying</strong> information recorded and <strong>no interaction</strong> with children</li>
<li>Existing documents or data where <strong>identifiers are not recorded or records that are de-identified prior to analysis.</strong></li>
<li>Methods to evaluate effectiveness of public programs</li>
<li>Tasting wholesome food, where contaminants are within guidelines</li>
</ol>
</ol>
<p>If <em><strong>Yes</strong></em> &ndash; This research is exempt from federal regulatory requirements but must go through the university required review. <strong>Complete the IRB form</strong>, <strong>mark EXEMPT in question 5 (&ldquo;Type of Review&rdquo;) and submit to the IRB Chair with a description of the research and all required supporting documents, such as consent forms and advertisement for participants, as needed.</strong></p>
<p>If <em><strong>No</strong></em> &ndash; <strong>Continue with number 7</strong>.<br /><br /><strong>7</strong>. &nbsp; Does the research meet the requirements for minimal risk research?</p>
<p><strong>Minimal Risk</strong> is defined (<a href="http://www.hhs.gov/ohrp/humansubjects/guidance/45cfr46.htm#46.102">45 CFR 46</a>) such that the probability and magnitude of harm or discomfort anticipated in the proposed research are not greater, in and of themselves, than those ordinarily encountered in daily life or during the performance of routine physical or psychological examinations or tests.</p>
<p><strong>AND</strong></p>
<p>Research involves <strong>any</strong> of the following:</p>
<ol>
<li>Non-invasive biological specimens; such as hair, nails, urine, saliva, blood from finger stick</li>
<li>Data from non-invasive medical procedures; such as EKG</li>
<li>Data, documents, records collected for non-research purposes</li>
<li>Voice, video, digital or image recordings for research</li>
</ol>
<p>If <em><strong>Yes</strong></em> - Risk is minimal . <strong>Continue with number 8.</strong></p>
<p>If <em><strong>No</strong></em> - Risk is greater than minimal and/or involves categories not listed in a-e. This research requires a FULL review, because the participants have greater than minimal risk.<strong> Complete the IRB form, mark FULL in question 5 (&ldquo;Type of Review&rdquo;) and submit to the IRB Chair with a description of the research and all required supporting documents, such as consent forms and advertisement for participants.<br /><br />8</strong>. &nbsp; Can the data collected be linked (directly or indirectly) to participants and put them at risk of criminal or civil liability, or be socially or economically damaging?</p>
<p>If <em><strong>Yes</strong></em> - <strong>Complete the IRB form</strong>, <strong>mark FULL in question 5 and submit to the IRB Chair with a description of the research and all required supporting documents, such as consent forms and advertisement for participants.</strong></p>
<p>If <em><strong>No</strong></em> &ndash; <strong>Complete the IRB form</strong>, <strong>mark EXPEDITED in question 5 and submit to the IRB Chair with a description of the research and all required supporting documents, such as consent forms and advertisement for participants.</strong></p>
<p>&nbsp;</p>

</div>
</div>